.addContacts{
  position: fixed;
  top:3%;
  right:3%;
  font-size:3vw;
  z-index: 1;
  background-color: rgb(82,199,82);
}
#clone{
  display:none;
}
ul{
  list-style-type:none;
}
h1{
  font-size: 5vw;
  font-weight: bold;
}
td{
  font-size: 2vw;
  text-align: center;
}
.edit,.remove{
  margin:0px 1.5vw;
}
